body {
    margin: 20px;
}

.nav-contenido {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: rgb(53, 203, 223);
}

.nav-container {
    background-color: #ffffff;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #0ec91d;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #1fa81a;
}

.header_logo {
    width: 80px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
}

.header_logo span {
    color: white;
    font-size: 20px;
}
.stilo-text-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(53, 203, 223);
}

.stilo-text-img img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.stilo-text-img p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Impact;
    text-align: center;
    margin: 10px;
}
.btn {
    background-color: #d4e02a;
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 3px;
  cursor: pointer;
  width: auto;
  height: auto;
}