body {
    margin: 20px;
}

.nav-contenido {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: rgb(53, 203, 223);
}

.nav-container {
    background-color: #ffffff;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #0ec91d;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #166414;
}

.header_logo {
    width: 80px;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
}

.header_logo span {
    color: white;
    font-size: 20px;
}

.button {
    background-color: #0e59c9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 80px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-position: left;
    margin-top: 40px;
  }
  
  .button:hover {
    background-color: #143364;
  }
  
  .button:active {
    background-color: #0eb0c9;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:disabled {
    background-color: #ccc; /* grey */  
  }